
@model StationeryEcommerceApp.Models.User
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserID)

    <label>Name:</label>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

    <label>Email:</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    <br />
    <input type="submit" value="Save Changes" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })</p>
